{% include i18n/i18n %} 

<!DOCTYPE html>
<html lang="{{ locale.lang }}">
  {% include head.html %}

  <body>
    <div class="container content">
      <header class="masthead">
        <h2 class="masthead-title">
          {% if page.locale == 'default' %}
            <a href="/">{{ strings.title }}</a>
          {% else %}
            <a href="/{{ page.locale }}">{{ strings.title }}</a>
          {% endif %}
        </h2>
      
        <div class="menu">
          <ul>
            {% if page.locale == 'default' %}
            <li><a class="menu-link" href="{{ site.baseurl }}/team/">{{ strings.team }}</a></li>
            <li><a class="menu-link" href="{{ site.baseurl }}/projects/">{{ strings.projects }}</a></li>
            <li><a class="menu-link" href="{{ site.baseurl }}/media">{{ strings.publications }}</a></li> 
            {% else %}
            <li><a class="menu-link" href="{{ site.baseurl }}/{{ page.locale }}/team/">{{ strings.team }}</a></li>
            <li><a class="menu-link" href="{{ site.baseurl }}/{{ page.locale }}/projects/">{{ strings.projects }}</a></li>
            <li><a class="menu-link" href="{{ site.baseurl }}/{{ page.locale }}/media">{{ strings.publications }}</a></li> 
            {% endif %} 
        </ul>
        </div>
        <div class="dropdown">
          <span>
            {% if page.locale == 'default' %}EN/DE{% endif %}
            {% if page.locale == 'en' %}NL/DE{% endif %}
            {% if page.locale == 'de' %}EN/DE{% endif %}
          </span>
          <div class="dropdown-content">
            <ul>
              {% if page.locale != 'default' %}
              <li><a class="menu-flag" href="/"><img height="15" width src="{{ site.url }}/img/flags/nl.svg" /></a></li>
              {% endif %}
              {% if page.locale != 'en' %}
              <li><a class="menu-flag" href="/en"><img height="15" src="{{ site.url }}/img/flags/en.svg" /></a></li>
              {% endif %}     
              {% if page.locale != 'de' %}
              <li><a class="menu-flag" href="/de"><img height="15" src="{{ site.url }}/img/flags/de.svg" /></a></li>
              {% endif %}     
            </ul>
          </div>
        </div>
      </header>    
    </div>
      <main>
        {{ content }}
      </main>
      <footer class="footer">
        <div class="footer-text">
          <small>
            &copy; Anke Klein
            <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
          </small>
        </div>
      </footer>
  </body>
</html>
